:root {
   --primary-color: #fff;
   --secondary-color: #000;
   --accent1-color: #264653;
   --accent2-color: #e9c46a;
   --heading-font: "Times New Roman", "Georgia", serif;
   --body-font: Arial, Helvetica, sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: var(--body-font);
   color: var(--accent1-color);
}

header,
main,
footer {
   width: 1000px;
   margin: 0 auto;
}

h1,
h2 {
   font-family: var(--heading-font);
   color: var(--secondary-color);
}

nav,
p,
section,
article {
   margin: 16px;
   padding: 8px;
}

.socialmedia a {
   text-decoration: none;
}

.socialmedia img {
   width: 60px;
}

.hero {
   position: relative;

}

.hero img {
   display: block;
   width: 100%;
   height: auto;
}

.hero h1 {
   position: absolute;
   top: 20px;
   width: 100%;
   padding: 5px;
   text-align: center;
   opacity: 0.7;
   background-color: var(--accent1-color);
   color: #fff;
}

.hero article {
   position: absolute;
   top: 320px;
   left: 50%;
   transform: translateX(-50%);
   width: 600px;
   background-color: #ffffff89;
}

article p {
   color: #000;
}

.hero article img {
   float: right;
   width: 200px;
   padding: 8px 0 0 20px;
   margin: 16px 0 0 0;

}